@model ChalmersBookExchange.Domain.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div style="overflow: scroll; max-height: 710px;">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreatePost" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
                <div class="form-group">
                    <label asp-for="BookName" class="control-label"></label>
                    <input asp-for="BookName" class="form-control" />
                    <span asp-validation-for="BookName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CourseCode" class="control-label"></label>
                    <input asp-for="CourseCode" class="form-control" />
                    <span asp-validation-for="CourseCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Shippable" class="control-label"></label>
                    <input asp-for="Shippable" class="form-control" />
                    <span asp-validation-for="Shippable" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meetup" class="control-label"></label>
                    <input asp-for="Meetup" class="form-control" />
                    <span asp-validation-for="Meetup" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Images" class="control-label"></label>
                    <input accept="file_extension|.gif/*, .jpg/*, .png/*"
                           asp-for="Images" type="file" id="files" />
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">
            <button class="btn btn-primary">Back to list</button>
        </a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 